table {
    width: 80%;
    border: 2px solid rgb(0, 0, 0);
    text-align:center;
    border-collapse: collapse;
}
thead {
    background-color: pink;
    color:white
    
}
tr.odd {
    background-color: rgb(248, 205, 188);
}
tr.even {
    background-color: white;
}
